@font-face {
    font-family: 'PixelOperator';  
    src: url('../assets/fonts/pixel-operator/PixelOperator.ttf');
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'PixelOperator';  
    src: url('../assets/fonts/pixel-operator/PixelOperator-Bold.ttf');
    font-weight: bold; 
    font-style: normal;
}